RAILS_ENV=development
APP_HOST_PORT=3000 # docker external port
SECRET_KEY=d8ced590e24c0cb72e28f05a7c324e107aed613d28267594b1488d245accf71f2ea3ec2a49b8bcfb853ac179f2a7503cb64c9856327e6a5bbe7899c5387efe85
JWT_EXPIRE=86400
API_CACHE_TTL=3600

# API Security and Encryption Configuration
# Must be exactly 32 bytes (64 hex characters if generated like: `openssl rand -hex 32`)
API_PAYLOAD_ENCRYPTION_ENABLED="true"
API_GATEWAY_KEY="api-gateway-key"
API_ENCRYPTION_KEY="api-encryption-key"

# REDIS Configuration
REDIS_HOST=localhost # Use "redis" when you want to use docker
REDIS_PORT=6379
REDIS_DB=0
REDIS_PASSWORD=


# pg Database Configuration
DB_ADAPTER=postgresql
DB_ENCODING=utf8
DB_HOST=localhost # Use "postgres" when you want to use docker
DB_PORT=5432
DB_POOL=5
DB_NAME=sanda
DB_USERNAME=
DB_PASSWORD=

# mysql Database Configuration
#DB_ADAPTER=mysql2
#DB_ENCODING=utf8mb4
#DB_POOL=5
#DB_HOST=localhost # Use "mysql" when you want to use docker
#DB_PORT=3306
#DB_NAME=sanda
#DB_USERNAME=
#DB_PASSWORD=

# Slack Configuration
SLACK_WEBHOOK_URL=
SLACK_CHANNEL_ID=
SLACK_ERROR_WEBHOOK_URL=
SLACK_ERROR_CHANNEL_ID=
SLACK_REGISTRATION_WEBHOOK_URL=
SLACK_REGISTRATION_CHANNEL_ID=
